<html>
  <head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='test.css') }}"></link>
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Error:</h1>
      <h2>It must to be a 'jpg' or 'png' file !
      Please return to <a href="/">Home page</a></h2>
    </div>
    </body>
</html>
